*{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

th, td {
    padding: 10px;
    width: 40px;
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* LANDING PAGE */
    /* HEADER */
    .landing-header{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100vh;
        background-color: #fafafa;
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        left: 0;
    }

    .header-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    .header-logo img{
        width: 50%;
    }

    .header-logo-caption{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .header-logo-caption h2{
        text-align: center;
        font-size: 12px;
    }

    .header-menu-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-menu-nav ul{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .header-menu-nav ul li{
        padding: 5px 0 5px 15px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}

    .header-menu-nav ul li:hover{
        background-color: #ffcf81;
    }

    .header-menu-nav ul li:hover a{
        color: #3B3486;
    }

    .header-menu-nav ul li:hover a i{
        margin-left: 20px;
    }

    .header-menu-nav ul li a{
        text-decoration: none;
        color: #000;
    }

    .header-menu-nav ul li a i{
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    /* HEADER */

    /* CONTENT */
    .landing-content{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .landing-content-heading{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        background-color: #fafafa;
        padding: 15px 20px;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .landing-content-body{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 15px 20px;
    }

    .landing-tracker,
    .landing-front-data-heading{
        display: flex;
        flex-direction: column;
        background-color: #fdedbd;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .landing-front-data-heading{
        margin-bottom: 10px;
    }

    .landing-tracker .header-tracker,
    .landing-front-data-heading .header-front-data{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .landing-tracker .header-tracker i,
    .landing-front-data-heading .header-front-data i{
        background-color: red;
        color: #fff;
        margin-right: 6px;
        font-size: 20px;
        padding: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .landing-tracker .body-tracker,
    .landing-front-data-heading .body-front-data{
        margin: 0;
    }

    .landing-content-card{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .landing-content-card .swiper-button-next,
    .landing-content-card .swiper-button-prev{
        background-color: #ff5900;
        border-radius: 50%;
        padding: 0 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .landing-content-card .swiper-button-next::after,
    .landing-content-card .swiper-button-prev::after{
        font-size: 25px;
        color: #fff;
    }

    .landing-content-card .card-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 15px 0;
    }

    .landing-content-card .card-container .card{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        overflow: hidden;
        border: 1px solid #dddddd;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    .landing-content-card .card-container .card img{
        width: 100%;
    }

    .landing-content-card .card-container .card .card-content{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        margin-top: -35px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #fff;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}

    .landing-content-card .card-container .card .card-content:hover{
        margin-top: -15px;
    }

    .landing-content-card .card-container .card .card-title{
        display: flex;
        flex-direction: column;
    }

    .landing-content-card .card-container .card .card-title h2{
        margin: 0;
        font-size: 20px;
    }

    .landing-content-card .card-container .card .card-title span{
        font-size: 13px;
    }

    .landing-content-card .card-container .card .card-body{
        display: flex;
        flex-direction: column;
    }

    .landing-content-card .card-container .card .card-body .card-tag{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .landing-content-card .card-container .card .card-body .card-tag span{
        background-color: #ff9e00;
        color: #fff;
        font-size: 10px;
        margin: 5px 5px 3px 0;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .landing-content-card .card-container .card .card-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-content-card .card-container .card .card-button a{
        text-decoration: none;
        font-size: 14px;
        background-color: #FAA300;
        color: #fff;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .landing-content-card .card-container .card .card-button a:hover{
        border: 1px solid #FAA300;
        background-color: #fff;
        color: #FAA300;
    }

    .landing-front-data{
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    /* CONTENT */
    /* LANDING PAGE */
}